.choose {
	width: 250px;
	height: 300px;	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-family: 'Montserrat'
}

.chooseTable {
	border-top: 1px solid rgba(0,0,0,.1)
}

.chooseTable td {
	/* padding: 1rem 0; */
	touch-action: manipulation;
	user-select: none;
	width: 33%;	
}

.input{
	border: 0;
	background-color: transparent;
	font-size: 1.4rem;
	height: 60px;
    line-height: 60px;
    margin-bottom: 1rem;
    text-align: center;
	/*border: 1px solid black;*/
	width: 250px;

}

.spanContent{
	font-weight: bold;
	color : #1D5748;
}

.spanPlaceholder{
	color : grey;
}

.errorMessageContainer{
	background-color: #A53220;
	width:100%;
	text-align: center;
	margin-bottom : 50px;
	height: 90px;
	line-height: 90px;	
}

.errorMessage{
	color: white;
	font-family: 'Montserrat';
	display: inline-block;
	vertical-align: middle;
	font-size:14px; 
 	vertical-align: middle;
 	line-height: normal;
}

.touchButton {
	display: block;
	padding: 1rem 0;
	position: relative;
}

.touchButton:after {
	background: rgba(34,164,180,0.1);
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
}

.touchButton:focus:after,
.touchButton:active:after,
.touchButton:hover:after {
	animation: anim-effect-boris 0.3s forwards;
}

@keyframes anim-effect-boris {
	0% {
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}

.playButton i,
.nonactivePlayButton i,
.backspace i {
	margin-top: 1.6rem;
	user-select: none;
}

.playButton i {
	color: rgba(0,0,0,.1);
	transition: all .1s ease-in-out;
}

.playButton.active i {
	color: #22A4B4;
} 

.backspace i {
	margin-top: 2.1rem;
}