.content{
    padding : 0px 25px;
    font-family: 'Montserrat';
    word-wrap: break-word;
}

.title{
    font-weight: bold;
    font-family: miller-display,seruif;
    color : #1D1E1F !important;
}

.line{
    background-color: #1D5748;
    width: 5.8rem;
    height: 0.1rem;
}