.paintDetails{
text-align: left;
color:#787B7D;
font-size: 17px;
}

.paintDetails td{
padding : 0px;
}

.paintDetails>tbody>tr>:first-child{
width : 100px;
font-weight: bold;
}

.paintDescription{
text-align: left;
color:#787B7D;
font-size: 13px;
margin-top : 35px;
padding : 0px;
}

.paintImage{
display: flex;
margin-right: auto;
}

.paintTitle{
color:black;
font-weight: bold;
}

.paintArtist{
color:#787B7D;
}

.paintDetailsContainer{
margin-top : 50px;
}

.tagsContainer{
margin-top : 50px;
display: block;
padding: 0;
}

.tagsContainer>p{
margin-bottom: 20px;
text-align: left;
}

.tagsContainer>div>span{
border : 1px solid black;
/* margin-left : 10px; */
margin-right: 10px;
padding : 5px;
}

.tagsContainer>div{
text-align: left !important;
padding: 0px;
}

.audioPlayer{
    margin-bottom : 10px;
}

.infos{
    text-align:left
}

.paintInfos{
    margin-bottom : 10px;
}

.footer {
    position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

.body {
    /* padding:10px; */
    padding-bottom:60px;
    margin-bottom : 20px;
}

.header{
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.title{
    font-weight: bold;
    font-family: miller-display,seruif;
    color : #1D1E1F !important;
}

.content{
    color : #787B7D;
    margin-top : 20px;
    text-align: left;
}

.infoSection{
    padding : 0px 25px;
    font-family: 'Montserrat';
    
}

.navBackground{
    background-color : #F9F6F2 !important;
}

.line{
    background-color: #1D5748;
    width: 5.8rem;
    height: 0.1rem;
    /* margin-top */
}