.infocontainer {
    max-width: 800px;
}

.paintDetails{
text-align: left;
color:#787B7D;
font-size: 17px;
}

.paintDetails td {
    font-size: 1rem;
    padding : 0.2rem;
}

.paintDetails td a,
.paintDetails td a:focus,
.paintDetails td a:active,
.paintDetails td a:hover {
    border-bottom: 1px solid rgba(0,123,255,.2);
    color: #22A4B4;
    text-decoration: none;
}

.paintDetails>tbody>tr>:first-child{
width : 100px;
font-weight: bold;
}

.paintDescription{
    text-align: left;
    color:#787B7D;
    font-size: 13px;
    margin-top : 35px;
    padding : 0px;
    }

.paintImage{
display: flex;
margin-right: auto;
}

.paintTitle{
color:black;
font-weight: bold;
}

.paintArtist{
color:#787B7D;
}

.paintDetailsContainer{
    margin-top : 50px;
}

.tagsContainer{
margin-top : 50px;
display: block;
padding: 0;
}

.tagsContainer>p{
margin-bottom: 20px;
text-align: left;
}

.tagsContainer>div>span{
    border : 1px solid black;
    margin-right: 10px;
    padding : 5px;
}

.tagsContainer>div{
    padding: 0px;
    text-align: left !important;
}

.audioPlayer{
    margin-bottom : 10px;
}

.infos{
    text-align:left
}

.paintInfos{
    margin-bottom : 10px;
}

.footer {
    bottom:0;
    height:60px;
    position:absolute;
    width:100%;
}

.body {
    padding: 0px 0 80px 0;
    margin-bottom : 20px;
}

.header{
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.title{
    font-weight: 500;
    font-family: miller-display,seruif;
    color : #1D1E1F !important;
}

.content{
    color : rgba(29,19,19,.7);
    margin-top : 20px;
    text-align: left;
}

.infoSection{
    padding : 0 1.6rem 0 2rem;
    font-family: 'Montserrat';
}

.infoSection .col12{
    padding : 0;
}

.navBackground,
.navBackgroundHid {
    background-color : #F9F6F2 !important;
    box-shadow: 0px 0px 20px 0px #8888;
    font-family: 'Montserrat';
    font-size: 0.9rem;
    padding: 0;
    position: fixed;
    transition: top 0.6s;
    top: 0px;
    width: 100%;
}

.navBackgroundHide {
    top: -80px !important;
}

.line{
    background-color: #1D5748;
    border: 0;
    height: 2px;
    margin-bottom: 1rem;
    width: 30px;
}

.changeLanguage{
    border : 1px solid black;
    background-color: transparent;
    font-family: 'Montserrat';
    margin-top:10px;
}

.changeLanguage:hover{
    color : white;
    background-color: black;
}

.missingLanguage{
    width: 300px;
    height:300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Montserrat';
    text-align: center;
}

#missingSentence{
    display: block;
    margin-bottom: 50px;
}

.materialIcon{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

.separation{
    margin-top:1rem !important;
    margin-bottom: 1rem !important;
}

.anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}



/* CAROUSEL */
.aliceContainer {
    /* background-color: #1D5748; */
    background-color: #FFF;
}
.alice-carousel__prev-btn {
    position: absolute;
}
.alice-carousel__next-btn {
    /* background-color: red; */
}

/* FEEDBACK */
.feedback a {
    border-bottom: 0;
    display: inline-block;
    margin: 0 .2rem;
    padding: 0 .5rem;
}

.feedback a.negativeFeedback,
.feedback a.negativeFeedback:hover,
.feedback a.negativeFeedback:focus,
.feedback a.negativeFeedback:active {
    color: #A53220;
}

.feedback a.positiveFeedback
.feedback a.positiveFeedback:hover,
.feedback a.positiveFeedback:focus,
.feedback a.positiveFeedback:active {
    color: #22A4B4;
}

.feedback:focus-within a:not(:focus) {
    display: none;
}

.feedback:focus-within a {
    /*display: none;*/
}

.feedback a ~ p {
    display: none;
}

.feedback a:focus ~ p {
    display: block;
}

a.btnToTop,
a.btnToTopHide {
    border-bottom-color: transparent;
    bottom: 5rem;
    display: block;
    position: fixed;
    right: 1rem;
    transition: right 0.2s;
    z-index: 1050;
}

a.btnToTopHide {
    right: -3rem;
}

.btnToTop span,
.btnToTopHide span {
    display: none;
}

.backButton {
    width: 55px;
    height: 55px;
    line-height: 55px;
}