.container {
    position: relative;
    text-align: center;
    color: white;
}

.content{
    margin : 20px;
}

#movement{
    font-size: 22px;
    line-height: 1.5rem;
    font-weight: bold;
}

.storyLine {
    background-color: #1D5748;
    border: 0;
    height: 2px;
    margin: .5rem auto;
    width: 30px;
}

#technique{
    display: inline-block;
    margin: 2rem 0 0 0;
}

.imgFluid {
    /*height: 75vh;*/
}

#story {
    font-size : 1.1rem;
    font-family: miller-display,seruif;
    line-height: 1.5rem;
}

.text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color : black;
    background-color: rgb(255,255,255,0.8);
    width : 75%;
    font-family: miller-display,seruif;
}