.container {
    min-height: 60vh;
    position: relative;
    text-align: center;
}

.containerBackground {
    filter: blur(10px);
    -webkit-filter: blur(10px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 400%;
    opacity: .94;
    position: absolute;
    top: 0;
    left: 0;
    height: 70vh;
    width: 100%;
    z-index: -1;
}

.content{
    margin : 20px;
}

#movement{
    font-size: 22px;
    line-height: 1.5rem;
    font-weight: bold;
}

.storyLine {
    background-color: #1D5748;
    border: 0;
    height: 2px;
    margin: .5rem auto 1.2rem auto;
    width: 30px;
}

#technique{
    display: inline-block;
    margin: 2rem 0 0 0;
}

.imgFluid {
    /*height: 75vh;*/
}

img.imgFluid {
    object-fit: contain;
    height: 50vh;
    width: 100%;
    margin: 2rem auto;
}

#story {
    font-size : 1.1rem;
    font-family: miller-display,seruif;
    line-height: 1.5rem;
}

.text {
    position: absolute;
    bottom: 0rem;
    left: 50%;
    transform: translate(-50%, -15%);
    color : black;
    background-color: rgb(255,255,255,0.8);
    width : 75%;
    font-family: miller-display,seruif;
}