.App {
  text-align: center;
  margin-top:20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-nav > li {
  float: left;
  position: relative;
}
.navbar-light .navbar-nav .active a::after {
  border-bottom: 2px solid #3D4043;
  bottom: -5px;
  left: 0;
  content : " ";
  position: absolute;
  right: 0;
}

.navbar{
  background-color: transparent !important;
  margin-bottom: 40px;
}

.logo{
  width:85px;
}