html, body{
  background-color : #F9F6F2;
  scroll-behavior: smooth;
}

a,
a:hover,
a:active,
a:link {
    border-bottom: 1px solid rgba(0,123,255,.2);
    color: #22A4B4;
    text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-nav > li {
  float: left;
  position: relative;
}
.navbar-light .navbar-nav .active a::after {
  border-bottom: 2px solid #3D4043;
  bottom: -5px;
  left: 0;
  content : " ";
  position: absolute;
  right: 0;
}

.logo{
  width:85px;
}

.react-h5-audio-player {
  margin-bottom: 0px;
}

.selectedLanguage{
  border : 1px solid black !important;
}

.bruggeLogo{
  margin-top : 20px;
}

.navbar-light .navbar-nav .nav-item {
    margin: 7px;
}

.navbar-light .navbar-nav a.nav-link,
.navbar-light .navbar-nav a.nav-link:active,
.navbar-light .navbar-nav a.nav-link:focus,
.navbar-light .navbar-nav a.nav-link:hover {
    border-bottom: 1px solid rgba(0,123,255,.2);
    color : #22A4B4;
    padding: 0;
}

/* Carousel override */

.alice-carousel__dots {
    margin: 10px 0 5px !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.alice-carousel__dots-item {
    display: inline-block;
    width: 20px !important;
    height: 2px !important;
    cursor: pointer;
    border-radius: 0 !important;
    background-color: #9ea5a3 !important; 
}

.alice-carousel__dots-item:not(:last-child) {
      margin-right: 15px; 
  }

.alice-carousel__dots-item:hover, .alice-carousel__dots-item.__active {
      background-color: #2D5549 !important; 
}

.flexWrapper{
    background-color : black ! important;
}

.img-fluid {
    height: 70vh;
}

.alice-carousel .alice-carousel__prev-btn, 
.alice-carousel .alice-carousel__next-btn {
    background: rgba(255,255,255,.15);
    position: absolute;
    top: 0%;
    width: 10%;
    height: 100%;
}

.alice-carousel .alice-carousel__next-btn,
.alice-carousel__next-btn-wrapper,
.alice-carousel__next-btn-item,
.alice-carousel__next-btn-item span,
.alice-carousel .alice-carousel__prev-btn,
.alice-carousel__prev-btn-wrapper,
.alice-carousel__prev-btn-item,
.alice-carousel__prev-btn-item span {
    height: 100%;
    padding: 0;
    margin: 0;
}

.alice-carousel__next-btn-item {
    height: 100%;
}

.alice-carousel .alice-carousel__prev-btn span, 
.alice-carousel .alice-carousel__next-btn span {
    display: block;
    height: 100%;
    line-height: 75vh;
    text-align: center;
    width: 45px;
}

.alice-carousel .alice-carousel__prev-btn span:after, 
.alice-carousel .alice-carousel__next-btn span:after {
    content:'\f0da';
    color: #fff;
    font-family: 'Font Awesome 5 Free';
    font-size: 1.6rem;
    font-weight: 900;
}

.alice-carousel .alice-carousel__prev-btn span:after {
    content:'\f0d9';
}
 
.alice-carousel__next-btn {
    right: 0;
    text-align: left;
}

.alice-carousel__prev-btn {
    left: 0;
    text-align: right;
}

